.red {

	background-color: red;
}
.no-padding{
	padding: 0;
}
.no-margin{
	margin: 0;
}
 #logo{
	height: 45px;
	width: auto;
}
.no-background{
	background-color: transparent;
}
.no-border{
	border:0;
}
.background-grey{
	background-color: #191919;
}
.divider2{
	height: 1px;
	background-color: grey;
	background-size: cover;
}

.footer{
	margin-top: 20px;
	padding: 30px;
}
.divider-text{
	color: #a0a09f;
	margin: 0;
	padding: 0;
}
.background-image{
	text-align: center;
	background-image: url("https://static.wixstatic.com/media/62fcc7_952fd0b1ea3149838c5ffa91cf817f8e~mv2.jpg/v1/fill/w_1024,h_446,al_c,q_85/62fcc7_952fd0b1ea3149838c5ffa91cf817f8e~mv2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.jumbotron{
	margin-top: 0px;
	background-color: transparent;
}

#second {
	margin-bottom: 130px;
}
.white{
	color: white;
}
.margin-top-bottom{
	margin-top: 50px;
	margin-bottom: 50px;
}
.rounded-circle{
	border-radius: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.button-style{
	width: 150px;
	border-radius: 50px;
	background-color: #3189EB;
	margin: 50px;
	border: 0;
}
.socialLogo {
	display: flex;
	justify-content: center;
}

.socialLogo img {

	display:inline;
	width: 20px;
	height: 20px;
	margin: 3px;

}
.section-margin{
	margin-left: 20px;
}
.tagga {

	text-align: center;
	color: grey;
}
#login-background {
	border: 1px;
	border-radius: 10px;
	padding: 50px;
	padding-bottom: 0;
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't                                    support rgba */
  background: rgba(255, 255, 255, .7);
}
.login{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
.header-heigt{
	height: 70px;

}
